body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}

input[type="text"]:focus {
    border-bottom: 2px solid #2e2a75;
    outline: none;
}

.code_conteneur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

.code_conteneur h1 {
    color: #2e2a75;
}

.code_conteneur form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#retour_form {
    color: #2e2a75;
    text-decoration: none;
    font-weight: bold;
}

#retour_form:hover {
    text-decoration: underline;
}

.code-conteneur {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.case {
    width: 40px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    outline: none;
    transition: border-bottom 0.3s ease;
}

.case:focus {
    border-bottom-color: #2e2a75;
}

.texte-verification {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

.renvoyer-code {
    display: block;
    background-color: #FFFFFF;
    border: none;
    text-align: center;
    margin-top: 15px;
    color: #2e2a75;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.renvoyer-code:hover {
    text-decoration: underline;
}

.bouton-envoyer {
    background-color: #2e2a75;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bouton-envoyer:hover {
    background-color: #e3f2fd;
    color: black;
}

.bouton-envoyer:disabled {
    background-color: #9b98c0;
    cursor: not-allowed;
    color: white;
}